{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'greet/styles.css'%}?{% now 'U' %}">
    <title>Hello</title>
</head>
<body>
    <h1>Hello {{name}}</h1>
    <p>{{name}}</p>
    {%if len > 4 %}
        <h4>{{name}} is greater than 4 characters</h4>
    {% else %}
        <h4>{{name}}is shorter than 4 characters</h4>
    {%endif%}
</body>
</html>