<div id="app">
  <div v-for="folder in folders">
    <span @click="toggle(folder.name)" style="cursor: pointer;">+ {{ folder.name }}</span>
    <div v-show="false" :id="folder.name">
      <div v-for="page in folder.pages" style="margin-left: 20px;">
        <span> - {{ page.name }}</span>
      </div>
    </div>
  </div>
</div>



<script>

new Vue({
  data() {
    return {
      folders: [
        { name: 'Search Engine', pages: [{name: 'Google'}, {name: 'Yahoo!'}, {name: 'goo!'}] },
        { name: 'SNS', pages: [{name: 'Facebook'}, {name: 'Twitter'}, {name: 'Google+'}, {name: 'mixi'}] },
        { name: 'Shpping', pages: [{name: 'Amazon'}, {name: 'ebay'}] }
        ]
    }
  },
  methods: {
    toggle: function (idname) {
      if( document.getElementById(idname).style.display == "none" ){
        document.getElementById(idname).style.display = "inline";
      }else{
        document.getElementById(idname).style.display = "none";
      }
    },
  }
}).$mount('#app')

</script>
